<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <div class="container">
        <h1>Bienvenidos Adeco</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores rerum expedita sint adipisci, non nemo doloribus itaque eos facere autem architecto magnam modi, id dicta ea reprehenderit eaque quae recusandae.</p>
        <p>
          <a class="btn btn-primary btn-lg">Learn more</a>
        </p>
      </div>
    </div>
  </div>
</div>

